.gallery_tag{
         width:90%;
         text-align: center;
         padding:1px;
         padding-left:10px;
         margin:100px auto -10px ;
         border-bottom: solid 1px $text;


        }
.full-container{
  width:90%;
  margin:0 auto;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    @include fadein;

    .gallery-item{
        opacity:0.0;
        width:80%;
        max-width:600px;
        min-width:250px;
        margin: 10px;
        text-align: center;
        pointer-events: none;
        @media screen and (min-width:768px){
            width:25%;
            min-width: 300px;
        }

        img{
            width:$full-width;
            border-radius: 2px;
        }
    }
    .gallery-item:hover{
             animation: size 400ms forwards;

        }
}
.portfolio-expand{
  margin:auto;
  position: fixed;
  top:5%;
  bottom:0%;
  width: 100%;
  left:0px;
  right:0px;
  background-color: red;

  overflow-x: hidden;
  overflow-y: scroll;
   background:$white;

   a{
       padding:15px;
       color:$text;
       display: block;
       margin: auto;
      @include sample-width;
  }
   .close_button{
     width: 20px;
     height: 20px;
     float:right;
     margin: 10px 20px;
     background:red;
   }

    p{
        width:70%;
    }
    div{

        display: block;
        margin: 45px auto;
    }
    ul{

        @include sample-width;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        margin-bottom: 25px;
    }
    li{
        display: inline-block;
        margin:5px  ;
        padding:5px;
        border-radius: 3px;
        border: solid 2px darken($grad1,20%);
        background:$grad1;
    }
    h3 {
        text-align: center;
        clear:both;
        padding-top:45px;
        width: 100%;
    }
    h4{
        text-align: left;
    }
    h1{
        @include sample-width;
        margin-top:60px;
        border-bottom: solid 2px $text;
        font-size:1.3rem;

    }
    img{
        @include sample-width;
       padding-top:5%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 3px;
        padding-top:50px;
    }

    p{
        @include sample-width;
        font-size: 1.2rem;
        text-align: left;
    }
    h4{
        @include sample-width;
    }

}
.close-ajax{
  border: none;
  margin-top:5%;
  width: 10px;
}
.close-ajax:hover{
    cursor:pointer;
    
    svg{
      fill:#1D1D1B;

    }

}
.linkButton{
  display: block;
  background: $grad1;
  padding: 1%;
  margin: 5% auto;
  border-radius: 3px;
  border: none;
}
.linkButton:hover{
   background: darken($grad1,5%);
   cursor:pointer;
}
