$almost_black : white;
$text :#403B3F;
$grey : #514E49;
$white : #E1E6E7;
$rem-size : 1rem;
$full-width: 100%;

$link :#435664;
$grad1  : #DADDF0;
$grad2 : #C5DED1;
$grad3  : #BCD8E3;
$grad4 : #F4F4F4 ;
